@font-face {
    font-family: OpenSans-Extrabold;
    src: url("./ui-assets/fonts/OpenSans-ExtraBold.ttf");
    /* font-weight: 900; */
  }
  @font-face {
      font-family: OpenSans-Regular;
      src: url("./ui-assets/fonts/OpenSans-Regular.ttf");
  }
@font-face {
    font-family: OpenSans-Bold;
    src: url("./ui-assets/fonts/OpenSans-Bold.ttf");
}
@font-face {
    font-family: OpenSans-Semibold;
    src: url("./ui-assets/fonts/OpenSans-Semibold.ttf");
}